extends layout

block content
  h1= title
    - let items = results;
  p List of ornithology and notable birds observed.

  .container-fluid
    .row
      each ornithology, index in items
        .col-sm-4
          .card
            .card-body(data-index=index style="cursor:pointer;")
              h5 ornithology_Location: #{ornithology.ornithology_location}
              p Species_Spotted: #{ornithology.species_spotted}
              p Duration_days: #{ornithology.duration_days} days
              button.btn.btn-primary Buy

  br
  script.
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll(".card-body").forEach(card => {
        card.addEventListener("click", function() {
          let index = this.getAttribute("data-index");
          alert(`You purchased item ${index}`);
        });
      });
    });



    extends layout

block content
  h1= title
  - let birdId = toShow._id
  - let location = toShow.ornithology_location
  - let species = toShow.species_spotted
  - let days = toShow.duration_days

  div.row
    div(class='ornithologyAttr mr-3') ID:
    div= birdId
  div.row
    div(class='ornithologyAttr mr-3') Location:
    div= location
  div.row
    div(class='ornithologyAttr mr-3') Species:
    div= species
  div.row
    div(class='ornithologyAttr mr-3') Duration (days):
    div= days







